body {
    background-color:rgb(173, 232, 255);
    text-align: center;
    margin: 100px;
}

p, button, a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(53, 85, 85);
    font-weight: bold;
}

p {
    font-size: 250%;
}

button {
    border-collapse: collapse;
    border-style: ridge;
    background-color:rgb(173, 232, 255);
    font-size: 20px;
    padding:5px 10px;
    text-align: center;
}